{
    "id": "{{ id }}",
    "string_date": "{{ date }}",
    "start_price": {{ start_price }},
    "end_price": {{ end_price }},
    "quantity": {{ quantity }},
    "profit": {{ profit }},
    "action" : "{{ action }}",
    "symbol": "{{ symbol }}",
    "tax_transaction": {{ tax_transaction |  default(8)}}
}