{
    "id": "{{ id }}",
    "string_date": "{{ date }}",
    "start_price": {{ start_price | default(0)}},
    "quantity": {{ quantity | default(0)}},
    "current_quantity_holding": {{ quantity | default(0)}},
    "status": "processing",
    "profit": 0,
    "profit_by_percantage" : 0,
    "action" : "{{ action }}",
    "symbol" : "{{ symbol }}",
    "tax_transaction": {{ tax_transaction |  default(0)}}
}